@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

#app {
  font-family: Mulish, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}


@import "base/reset";

//abstract
@import "abstracts/variables";
@import "abstracts/mixins";

//components
@import "components/banner-component";
